@CHARSET "UTF-8";
body {
	font-size: 22px;
	line-height: 0.8;
	background-color: #F8F9F9
}

body, h1, h2, h3, h4, h5, h6, p, label, button, input, select, textarea {
    font-family: "TH Sarabun New";
}

h4 {
    font-size: 22px;
    font-weight: bold;
}

h4.topic {
    text-decoration: underline;
}

input{
	font-weight: 500;
	font-size: 22px;
}

.btn {
	font-size: 20px;
	font-weight: bold;
}

div .header-line{
	background-color: #E8F8F5;
	height: 40px;
	color: #17202A;
	width: 100%;
	font-weight: bold;
}

div .header-line label{
	padding: 14px 10px 10px 20px;
}

.dataTables_filter {
   float: left !important;
}

hr.style{
	border-top: 1px dashed #8c8b8b;
}
